body {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    margin: 0;
}

.topnav {
    margin-top: 25px;
    float: right;
}

.topnav ul, .topnav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.topnav li {
    float: left;
}

.topnav a {
    color: #000;
    text-decoration: none;
    margin-right: 17px;
    display: inline-block;
    line-height: 24px;
}
.topnav img {
    padding-top: 3px;
}

.topnav .btn {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    border-radius: 2px;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    display: block;
    color: #fff;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
}

.middle-content {
    margin-top: 150px;
    text-align: center;
}

.clear {
    clear: both;
}
.middle-content h1 {
    margin: 0;
}

.fake-input {
    width: 484px;
    height: 38px;
    border: solid 1px #d9d9d9;
    margin: 0 auto;
    margin-top: 27px;
    text-align: right;
}

.fake-input img {
    margin-right: 13px;
    margin-top: 9px;
}

.middle-content button {
    background: #f1f1f1;
    border: 0;
    padding: 12px 16px;
    border-radius: 2px;
    color: #757575;
    font-weight: bold;;
}

.middle-content button:nth-child(1) {
    margin-right: 5px;
}

footer li, footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #666;
}

footer .right-nav {
    float: right;
}

footer .left-nav {
    float: left;
}

footer li {
    display: inline;
}

footer .left-nav a {
    padding-left: 32px;
}

footer .right-nav a {
    padding-right: 32px;
}

footer {
    background: #f2f2f2;
    padding: 14px 0;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}
